<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/dragula-element/dragula-element.html">

<dom-module id="service-groups">
  <template>
    <style include="dragula-styles">
      :host {
        display: block;
        overflow-x: hidden;
        --paper-tabs: {
          background-color: var(--mydoc-brown-800);
          font-size: 16px;
          flex-direction: row;
        };
        --paper-tabs-selection-bar: {
          height: 4px;
        };
        --paper-tabs-selection-bar-color: var(--mydoc-beige-600);
      }
      .shadow {
        margin: 2px 0;
        padding: 7px 5px;
        background-color: white;
        box-shadow: 0 1px 6px 0 #3c3c3c;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .shadow.draggable {
        cursor: grab;
        cursor: -webkit-grab;
      }
      .dragged-item {
        overflow: hidden;
      }
      .container {
        padding-top: 2px;
      }
      *[hidden] {
        display: none;
      }
      .label {
        flex: 1;
      }
      .label span{
        font-weight: bold;
      }
    </style>
    <paper-tabs selected="{{page}}">
      <paper-tab >
        Группы
      </paper-tab>
      <paper-tab >
        Услуги
      </paper-tab>
    </paper-tabs>
    <iron-pages selected="{{page}}">
      <div on-click="handleClick">
        <dragula-element copy hidden$="[[disabled]]" container-class="container" drake="{{drake}}">
          <div class="container" hidden$="[[!groupsVisible]]">
            <template is="dom-repeat" items="[[groupsToID(groups,search)]]">
              <div class="dragged-item" item$="[[item]]">
                <div class="shadow draggable">
                  <div class="label">
                    <span>[[item]]</span> / [[translateID(item)]]
                    <!-- <paper-icon-button icon="delete" on-tap="delete"></paper-icon-button> -->
                    <a href$="service-groups/[[item]]/common" id$="link[[item]]" hidden></a>
                    <paper-icon-button icon="icons:create" val$="[[item]]"></paper-icon-button>
                  </div>
                  <div class="mover">
                    <paper-icon-button type="mover" val$="[[item]]" icon="chevron-right"></paper-icon-button>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </dragula-element>
        <template is="dom-if" if="[[disabled]]">
          <div class="container" hidden$="[[!groupsVisible]]">
            <template is="dom-repeat" items="[[groupsToID(groups,search)]]">
              <div class="dragged-item" item$="[[item]]">
                <div class="shadow">
                  <div class="label">
                    [[translateID(item)]]
                  </div>
                  <div class="mover">
                    <paper-icon-button type="mover" val$="[[item]]" icon="chevron-right" hidden$="[[disabled]]"></paper-icon-button>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </template>

      </div>
      <div>
        <dragula-element copy hidden$="[[disabled]]" container-class="container" drake="{{drake}}">
          <div class="container" hidden$="[[!servicesVisible]]">
            <template is="dom-repeat" items="[[servicesToID(services,search)]]">
              <div class="dragged-item" item$="[[item]]">
                <div class="shadow draggable">
                  [[translateServiceID(item)]]
                </div>
              </div>
            </template>
          </div>
        </dragula-element>

        <template is="dom-if" if="[[disabled]]">
          <div class="container" hidden$="[[!servicesVisible]]">
            <template is="dom-repeat" items="[[servicesToID(services,search)]]">
              <div class="dragged-item" item$="[[item]]">
                <div class="shadow">
                  [[translateServiceID(item)]]
                </div>
              </div>
            </template>
          </div>
        </template>
      </div>
    </iron-pages>

  </template>
  <script>
    function composedPath(el) {

      var path = [];

      while (el) {

        path.push(el);

        if (el.tagName === 'HTML') {

          path.push(document);
          path.push(window);

          return path;
        }

        el = el.parentElement;
      }
    }

    Polymer({
      is: 'service-groups',
      properties: {
        groups: {
          type: Array
        },
        sevices: {
          type: Object
        },
        drake: {
          type: Object,
          notify: true
        },
        search: {
          type: String,
          value: ''
        }
      },

      ready: function () {
        this.options = {
          name: 'main',
          pull: 'clone',
          revertClone: true,
          put: false
        };
        this.sort = false;
        this.page = 0;

      },
      groupsToID(groups, search) {
        if (!search)
          return _.map(groups, '@id');
        return _.chain(groups).filter(i => ~ (i.label || '').toLowerCase().indexOf((search || '').toLowerCase())).map('@id').value();
      },
      servicesToID(services, search) {
        if (!search)
          return _.map(services, (it, index) => index);
        return _.reduce(services, (acc, i, index) => (~ i.indexOf(search) && acc.push(index), acc), [])
      },
      translateID(item) {
        return (_.find(this.groups, {"@id": item}) || {}).label;
      },
      translateServiceID(item) {
        return this.services[item];
      },
      delete(e) {
        this.fire('delete', _.find(this.groups, {"@id": e.model.item}));
      },
      edit(e) {
        // this.fire('edit', _.find(this.groups, {"@id": e.model.item}));
      },
      handleClick(e) {
        const el = (e.path || composedPath(e.target)).find(e => e.tagName === "PAPER-ICON-BUTTON");

        if (!el) {
          return;
        }
        const id = (el.getAttribute('val'));
        const mover = el.getAttribute('type') === 'mover';
        if (mover) {
          this.fire('move-item', id);
          return;
        }
        const link = Polymer.dom(this.root).querySelector(`#link${id}`);

        if (!link) {
          return;
        }

        link.click();
      }

    });
  </script>
</dom-module>
