<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="membership-picker">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <h2>Привязка к офису</h2>
    <template is="dom-repeat" items="[[filter(departments)]]">
      <div class="">
        <paper-checkbox on-tap="toggle" checked="[[getChecked(human,item.id)]]">[[item.label]]</paper-checkbox>
      </div>
    </template>
  </template>
  <script>
    (function () {

      Polymer({
        is: 'membership-picker',
        properties: {
          human: {
            type: Object
          },
          departments: {
            type: Array
          },
          membership: {
            type: Array
          },
          value: {
            type: Object,
            notify: true
          }
        },
        filter(departments) {
          const permissions = _globals.permissions;

          if (this.superadmin) {
            return _.chain(departments).filter({"@type": 'Department'}).map(item => ({id: item["@id"], label: item.label})).value();
          }

          return _.chain(departments).filter({"@type": 'Department'}).filter(item => {
            const id = item["@id"];
            const unit_of = item.unit_of;
            return permissions.includes(id) || permissions.includes(unit_of);
          }).map(item => ({id: item["@id"], label: item.label})).value();

        },
        toggle(e) {
          const human = e.model.human;
          const dep = e.model.item;
          const id = dep.id;
          if (_.includes(this.membership, id)) {
            const index = this.membership.indexOf(id);
            this.splice('membership', index, 1);
          } else {
            this.push('membership', id);
          }
          // if (!temp) {   _.set(this.value, `${type.id}.${dep.id}`, false); } this.set(`value.${type.id}.${dep.id}`, !temp);
        },
        getChecked(value, organization) {
          return !!_.includes(this.membership, organization);
        }
      });
    })();
  </script>
</dom-module>
