<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="days-picker">
		<template>
				<style>
						:host {
								display: flex;
								flex-direction: column;
						}
						paper-checkbox {
								padding: 10px;
						}

				</style>

				<template is="dom-repeat" items="[[days]]" as="day">
						<paper-checkbox checked="[[isChecked(day,value)]]" on-tap="dayTap">[[getLabetl(index)]]</paper-checkbox>
				</template>
		</template>
		<script>
				Polymer({
						is: 'days-picker',
						properties: {
								value: {
										type: Array,
										notify: true
								}
						},
						dayTap(e) {
								const day = e.model.day;
								const dp = this.value.includes(day);
								if (!dp) {
										this.push('value', day);
								} else {
										this.splice('value', this.value.indexOf(day), 1);
								}
						},
						isChecked(day, index) {
								return this.value.includes(day);
						},
						getLabetl(index) {
								return this.labels[index];
						},
						ready() {
								this.days = [
										"Monday",
										"Tuesday",
										"Wednesday",
										"Thursday",
										"Friday",
										"Saturday",
										"Sunday"
								];
								this.labels = [
										"Пнедельник",
										"Вторник",
										"Среда",
										"Четверг",
										"Пятница",
										"Суббота",
										"Воскресенье"
								];
						}
				});
		</script>
</dom-module>
