<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="permissions-picker">
		<template>
				<style>
						:host {
								display: block;
						}

				</style>
				<h2>Прием</h2>
				<div class="">
						<paper-checkbox checked="{{value.ticket-by-id.registered}}">Внеочередной прием</paper-checkbox>
				</div>
				<div class="">
						<paper-checkbox checked="{{value.ticket-by-id.postponed}}">Прием из отложенных</paper-checkbox>
				</div>
				<template is="dom-repeat" items="[[types]]" as="type">
						<h2>[[type.label]]</h2>
						<template is="dom-repeat" items="[[filter(departments, type)]]">
								<div class="">
										<paper-checkbox on-tap="toggle" checked="[[getChecked(value,type.id,item.id)]]" type="{{type}}">[[item.label]]</paper-checkbox>
								</div>
						</template>
				</template>
		</template>
		<script>
				(function () {
						function getCookie(cname) {
								var name = cname + "=";
								var decodedCookie = decodeURIComponent(document.cookie);
								var ca = decodedCookie.split(';');
								for (var i = 0; i < ca.length; i++) {
										var c = ca[i];
										while (c.charAt(0) == ' ') {
												c = c.substring(1);
										}
										if (c.indexOf(name) == 0) {
												return c.substring(name.length, c.length).replace('j:[', '').replace(']', '').replace(new RegExp('"', 'g'), '').split(',');
										}
								}
								return "";
						};

						Polymer({
								is: 'permissions-picker',
								properties: {
										departments: {
												type: Array
										},
										value: {
												type: Object,
												notify: true
										}
								},
								filter(departments, type) {
										const permissions = getCookie('permissions');
										if (!this.superadmin && type.id === 'can-admin') {
												return [];
										}
										if (this.superadmin) {
												return _.chain(departments).filter({"@type": 'Department'}).map(item => ({id: item["@id"], label: item.label})).value();
										}
										// if (type.id !== 'can-admin') {
										return _.chain(departments).filter({"@type": 'Department'}).filter(item => {
												const id = item["@id"];
												const unit_of = item.unit_of;
												return permissions.includes(id) || permissions.includes(unit_of);
										}).map(item => ({id: item["@id"], label: item.label})).value();
										// }
										return _.chain(departments).filter(item => {
												const id = item["@id"];
												const unit_of = item.unit_of;
												return permissions.includes(id) || permissions.includes(unit_of);
										}).map(item => ({id: item["@id"], label: item.label})).value();
								},
								toggle(e) {
										const type = e.model.type;
										const dep = e.model.item;
										const temp = this.get(`value.${type.id}.${dep.id}`) || false;
										if (!temp) {
												_.set(this.value, `${type.id}.${dep.id}`, false);
										}
										this.set(`value.${type.id}.${dep.id}`, !temp);
								},
								getChecked(value, type, dep) {
										return !!_.get(value, [
												type, dep
										], false);
								},
								ready() {
										this.types = [
												{
														id: 'can-report',
														label: 'Отчеты'
												}, {
														id: 'can-manage',
														label: 'Респшен'
												}, {
														id: 'can-book',
														label: 'Запись'
												}, {
														id: 'can-admin',
														label: 'Администратор'
												}
										];

								}
						});
				})();
		</script>
</dom-module>
